/* Responsive Media Query */

@media (max-width: 560px) {
  :root {
    --header-height: 100px;
    --padding-lr: clamp(15px, 6vw, 30px);
  }
  h4,
  p,
  span,
  button.main,
  input,
  textarea,
  q,
  li {
    font-weight: 400;
    font-size: 1.8em;
  }

  header {
    height: var(--header-height);
  }

  header .container {
    padding: 0 var(--padding-lr);
  }

  nav .navbar-desktop-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    padding: 30px;
    display: flex;
    flex-direction: column;
    display: none;
  }
  nav .right-social {
    display: none;
  }

  .navbar-desktop-menu a,
  .right-social {
    display: none;
  }

  .navbar-desktop-menu a.active {
    display: flex;
  }

  .left-container {
    gap: 0;
    flex-direction: row-reverse;
    max-width: calc(100% - 50px);
  }

  .logo-center img {
    max-width: 45vw;
  }
  .mobile-button {
    width: clamp(30px, 9vw, 40px);
    padding: 0;
    height: auto;
    border-radius: 6px;
    display: block;
    cursor: pointer;
    transition: 0.6s;
  }

  .mobile-button svg {
    fill: white;
  }
  .sticky .mobile-button svg {
    fill: black;
  }

  .mobile-button:hover {
    background-color: var(--primary);
  }

  .mobile-button:hover svg {
    fill: white;
  }

  body {
    font-size: 8px;
  }

  section {
    /* display: block; */
    padding: 135px clamp(15px, 6vw, 30px);
  }
  section .container {
    width: 100%;
    margin: 0 !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #hero {
    height: 110vh;
  }
  #hero h2 {
    width: 100%;
    line-height: 1.1;
  }

  #hero p {
    width: 100%;
  }

  /* Features */
  .features-list {
    width: 100%;
    padding: 50px;
    row-gap: 75px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
  }

  .features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .features-video {
    position: relative;
  }

  .features-video video {
    width: 100%;
  }

  button.play {
    transform: translate(-50%, -50%) scale(0.5);
  }

  /* hero 2 */
  #about .container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    gap: 60px;
  }

  #about .container * {
    text-align: center;
  }

  /* newsletter */

  #newsletter .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .newsletter-left,
  .newsletter-left img,
  .newsletter-right,
  .newsletter-right form {
    display: block;
    width: 100%;
  }

  .newsletter-right form input {
    width: 100%;
    margin-bottom: 20px;
  }

  .newsletter-right form button.main {
    display: block;
    width: 100%;
    padding: 19px 0;
    text-align: center;
  }

  .partners-list {
    margin: 80px 40px;
    display: grid;
    gap: 80px;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      ".";
  }

  /* TEstimoni */
  #testimonials .testimonials-slider {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 8% auto 8%;
    grid-template-rows: repeat(2, auto);
    gap: 0;
    grid-template-areas:
      "prev testimoni next"
      "prev index next";
  }

  .testimonials-slider .testimoni {
    padding: 0;
    max-width: 90vw;
  }

  .testimonials-slider button {
    width: 100%;
    height: 30px;
    padding: 0;
    margin: auto 0;
    background-size: contain !important;
  }

  button.testimoni-prev,
  button.testimoni-next {
    width: 10px;
    height: 10px;
    background-size: contain;
    margin: auto 0;
  }

  button.testimoni-prev {
    left: -10px;
  }
  button.testimoni-next {
    right: -10px;
  }

  #pricing .pricelist {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #pricing .pricelist .plan {
    width: 100%;
    max-width: calc(100vw - var(--padding-lr));
  }

  /* Contact */
  #contact .container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    grid-template-areas:
      "title"
      "contact-form"
      "contact-info";
    gap: 60px;
    padding: 0;
  }

  #contact .contact-info-right {
    padding: 60px 0;
  }
  #contact .contact-form-left {
    padding: 52px calc(var(--padding-lr) + 10px);
  }

  #contact .contact-info-right .contact-info-list {
    flex-direction: column;
    gap: 35px;
  }
  #contact .contact-info-right .contact-info-list li {
    width: 100%;
    display: inline-flex;
    align-items: center;
    text-align: left;
  }
  #contact .contact-info-right .contact-info-list li span {
    margin: 0 20px 0 0;
    padding: 16px;
  }

  footer .container {
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 0 40px;
  }
  footer .container .footer-left {
    width: 100%;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    text-align: center;
  }

  footer .container .footer-right {
    width: 100%;
    gap: 80px;
  }

  footer .container .footer-right * {
    margin: 0 auto;
  }

  /* Mobile menu */
  .overlay {
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s;
  }

  .header-wrapper.bg-dark ~ .overlay {
    opacity: 0.6;
    z-index: 998;
  }
  #mobile-menu {
    padding: 60px;
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 40px;
  }

  #mobile-menu.show {
    display: flex;
    transition: 0.6s;
  }

  .header-wrapper.bg-dark {
    background: var(--text-color);
    filter: var(--drpshdw);
  }

  .navbar-mobile-menu {
    display: flex;
    flex-direction: column;
  }

  .navbar-mobile-menu a {
    /* color: var(--primary); */
    padding: 20px 40px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
  }

  .social-mobile {
    padding: 40px;
    display: inline-flex;
    align-items: center;
  }

  .social-mobile a {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  #hero h1 {
    font-size: 5.854em;
  }
}
