* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2091F9;
}


body {
    font-family: 'Quicksand', sans-serif, system-ui;
    height: 10000px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    position: sticky;
    top: 0;
    margin: auto;
    padding: 53px 40px;
    /* border: 1px solid white; */
}


nav .navbar-desktop-menu {
    display: inline-flex;
    gap: 21px;
}


a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.2px;
}

.left-container{
    display: inline-flex;
    align-items: center;
    gap: 35px;
}


.navbar-desktop-menu a{
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}


.right-social {
    display: inline-flex;
    gap: 24px;
}

.right-social span {
    display: block;
    width: 33px;
    height: 33px;
    background-size: cover;
}

.right-social .ic-twitter {
    background-image: url(res/ant-design_twitter-outlined.svg);
}
.right-social .ic-facebook {
    background-image: url(res/ant-design_facebook-filled.svg);
}
.right-social .ic-linkedin {
    background-image: url(res/ant-design_linkedin-filled.svg);
}











.hero {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1042px;
    color: white;
}


.hero img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.hero .container {
    width: max-content;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    text-align: center;
    
    
}

.hero h2{
    
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    width: 690px;
    
}


.hero p{
    width: 756px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    margin: 18px auto 90px;
}



button {
    all: unset;
    width: max-content;
    background: var(--primary);
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
    font-weight: 600;
    transition: 0.2s all ease-in ;
    
}


.hero button {
    padding: 16px 58px;
    border-radius: 35px;
    margin: 0 auto;
}
