* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #2091f9;
  --text-color: #252b42;
  --drpshdw: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.15));
  --font-family: "Quicksand", sans-serif, system-ui;
}

body {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

h1 {
  font-weight: 700;
  font-size: 6.854em;
}
h2 {
  font-weight: 600;
  font-size: 4.236em;
}
h3 {
  font-weight: 500;
  font-size: 2.618em;
}
h4,
p,
span,
button.main,
input,
textarea,
q,
li {
  font-weight: 400;
  font-size: 1.618em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.618em;
}

strong,
b {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

section {
  padding: 150px 0;
}

section .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.3s;
}

header .container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 187px;
}

nav.navbar-desktop-menu {
  display: inline-flex;
  gap: 21px;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 1;
  transition: all 0.15s;
}

.active {
  background: #2091f910;
}

.left-container {
  display: inline-flex;
  align-items: center;
  gap: 35px;
}

.navbar-desktop-menu a {
  font-weight: 400;
  font-size: 1.5em;
}

.navbar-desktop-menu a:hover {
  background-color: var(--primary);
}

.right-social {
  display: inline-flex;
  gap: 24px;
}

.right-social span {
  display: block;
  width: 33px;
  height: 33px;
  background-size: cover;
}

.right-social .ic-twitter {
  background-image: url(res/ant-design_twitter-outlined.svg);
}
.right-social .ic-facebook {
  background-image: url(res/ant-design_facebook-filled.svg);
}
.right-social .ic-linkedin {
  background-image: url(res/ant-design_linkedin-filled.svg);
}

header.sticky {
  background: #fff;
  filter: var(--drpshdw);
}

header.sticky a {
  color: var(--text-color);
}

header.sticky a:hover {
  color: white;
}

.sticky .ic-facebook {
  background: url(res/ant-design_facebook-filled-color-primary.svg);
  background-size: cover;
}
.sticky .ic-twitter {
  background: url(res/ant-design_twitter-outlined-color-primary.svg);
  background-size: cover;
}
.sticky .ic-linkedin {
  background: url(res/ant-design_linkedin-filled-color-primary.svg);
  background-size: cover;
}

/* Hero  */

#hero {
  position: relative;
  width: 100%;
  height: 1043px;
  color: white;
  background: url(res/hero-img-desktop.webp) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

#hero .container {
  margin: 110px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  text-align: center;
  max-width: 1200px;
}

#hero h1 {
  font-style: normal;
  line-height: 84px;
  letter-spacing: 0.2px;
}

#hero p {
  width: 756px;
  height: 80px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin: 18px auto 90px;
}

button {
  all: unset;
  background: var(--primary);
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  transition: 0.2s all ease-in;
}

button.main {
  color: white;
  padding: 20px 60px;
  border-radius: 35px;
  margin: 0 auto;
  line-height: 1.2;
}

/* Features */

.section-title {
  width: 100%;
  max-width: 545px;
  margin: auto;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 80px;
}

.section-title h2 {
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 17px;
}

.section-title p {
  line-height: 40px;
}

.features-list {
  width: 870px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  column-gap: 52px;
  grid-template-columns: repeat(3, 1fr);
}

.feature h3 {
  margin: 20px 0 0;
  padding: 10px;
  font-style: normal;
  line-height: 1.4;
}

.feature p {
  line-height: 1.4;
  padding: 10px;
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-video {
  position: relative;
}

.features-video video {
  width: 1177px;
  height: auto;
  margin: 132px 0;
  filter: var(--drpshdw);
  border-radius: 44.8123px;
  cursor: pointer;
}

button.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--primary);
  filter: var(--drpshdw);
}

button.play img {
  margin-left: 9px;
  width: 46px;
  height: 46px;
}

/* about */

#about .container {
  max-width: 1236.3px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.left-cta h2 {
  line-height: 55px;
  letter-spacing: 0.2px;
}

.left-cta p {
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin: 30px 0 60px;
}

.right-img img {
  width: 100%;
  max-width: 660px;
}

/* Partner */
.partners-list {
  margin: 80px 40px;
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one one two two three three"
    ". four four five five .";
}

.partners-list img {
  display: inline;
  width: auto;
  height: 50px;
  margin: auto;
}

.partners-list img:nth-child(1) {
  grid-area: one;
}
.partners-list img:nth-child(2) {
  grid-area: two;
}
.partners-list img:nth-child(3) {
  grid-area: three;
}
.partners-list img:nth-child(4) {
  grid-area: four;
}
.partners-list img:nth-child(5) {
  grid-area: five;
}

/* Plan and Pricing */

#pricing {
  background: #252b42;
  color: white;
}

#pricing .section-title {
  color: white;
  margin: 0 0 80px;
}

#pricing .pricelist {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 1200px;
  display: flex;
  gap: 50px;
  text-align: center;
  align-items: center;
}

.pricelist .plan {
  background: white;
  color: var(--text-color);
  border-radius: 10px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: max-content;
  width: 350px;
}

.pricelist .featured-plan {
  background-color: var(--primary);
  color: white;
  width: 400px;
}

.pricelist .featured-plan button {
  background-color: white;
  color: var(--primary);
}

.pricelist .plan-title h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.8;
  margin-bottom: 20px;
  letter-spacing: 0.1px;
}

.plan-title p {
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.1px;
}

.plan .price {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 0px;
  grid-template-areas:
    "number dollar"
    "number pay-info";
  text-align: left;
  margin: 0 auto;
  line-height: 0.5;
  align-items: center;
}

.price .number {
  grid-area: number;
  display: block;
  font-weight: 600;
  font-size: 7.4em;
  text-align: right;
}

.price .dollar-sign {
  grid-area: dollar;
  display: block;
  font-weight: 700;
  font-size: 2em;
}
.price .pay-info {
  grid-area: pay-info;
  display: block;
  font-weight: 400;
}

.pricing-features-list {
  text-align: left;
  margin: 0 auto;
}

/* FOoter */

footer {
  background: #252b42;
  color: white;
  padding: 150px 0;
}

footer .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
}

.footer-left div h4 {
  font-style: normal;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-bottom: 25px;
}

.footer-left div ul {
  list-style: none;
  margin: 0;
}

.footer-left div ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 2.5;
  letter-spacing: 0.2px;
}

.footer-left div ul li a {
  padding: 0;
}
.footer-left div ul li a:hover {
  color: #2091f9;
}

.footer-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.4em;
}

.footer-right .footer-location,
.footer-right .footer-phone {
  display: flex;
  gap: 10px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0.2px;
  align-items: center;
}

.footer-right .footer-location .ic-loc {
  display: block;
  width: 35px;
  height: 40px;
  background: url(res/ic-loc.svg) no-repeat;
  background-size: contain;
}

.footer-right .footer-phone .ic-phone {
  display: block;
  width: 35px;
  height: 40px;
  background: url(res/ic-phone.svg) no-repeat;
  background-size: contain;
}

.footer-right .footer-social-link-list,
.contact-social-link-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.footer-right .footer-social-link-list li img,
.contact-social-link-list li img {
  width: 35px;
  height: auto;
}

.footer-right .footer-social-link-list li a,
.contact-social-link-list li a {
  padding: 0;
}

.contact-social-link-list li img {
  fill: var(--primary);
}

/* Contact */
#contact .container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title title"
    "contact-form contact-info";
  gap: 60px;
}

#contact .section-title {
  grid-area: title;
}

#contact .contact-form-left {
  grid-area: contact-form;

  padding: 52px 50px;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

#contact .contact-form-left form {
  display: flex;
  flex-direction: column;

  gap: 45px;
}

.contact-form-left form label {
  display: none;
}

.contact-form-left form input,
.contact-form-left form textarea {
  padding: 19px 20px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  font-family: var(--font-family);
}

.contact-form-left form #input-message {
  border-radius: 2px;
  min-height: 200px;
  resize: none;
}

#contact .contact-form-left form h3 {
  width: 100%;
  text-align: center;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.1px;
}

#contact .contact-form-left button {
  margin: 0;
}

#contact .contact-info-right {
  grid-area: contact-info;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 0 30px 30px;
}

#contact .contact-info-right .contact-info-list {
  display: flex;
  gap: 15px;
  text-align: center;
  list-style: none;
}
#contact .contact-info-right .contact-info-list li {
  width: calc(100% / 3);
  overflow-wrap: break-word;
}

.contact-info-list li span {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

span.contact_location {
  background: url(res/ic-loc-color-primary.svg);
}
span.contact_phone {
  background: url(res/ic-phone-color-primary.svg);
}
span.contact_mail {
  background: url(res/ic-mail-color-primary.svg);
}

.contact-info-right iframe {
  border: none;
  width: 100%;
  height: 400px;
}

/* Testimonials */

#testimonials .testimonials-slider {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  grid-template-areas:
    "prev testimoni next"
    "prev index next";
}

.testimonials-slider .testimoni:not(:first-child) {
  display: none;
}

.testimonials-slider .testimoni {
  grid-area: testimoni;
  text-align: center;
  line-height: 1.8;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 80px 20px 20px;
}

.testimonials-slider .testimoni .testimoni-message {
  font-style: italic;
  width: 80%;
  margin: 0 auto;
}

.testimonials-slider .testimoni .testimoni-author {
  width: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-columns: repeat(2, auto);
  row-gap: 0;
  column-gap: 15px;
  grid-template-areas:
    "avatar name"
    "avatar role";
  text-align: left;
  line-height: 1;
}

.testimonials-slider .testimoni .testimoni-author-avatar {
  grid-area: avatar;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
}
.testimonials-slider .testimoni .testimoni-author-name {
  grid-area: name;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.testimonials-slider .testimoni .testimoni-author-role {
  grid-area: role;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

.testimonial-index-poin {
  grid-area: index;
  width: max-content;
  margin: 0 auto 140px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.testimonial-index-poin span.index-poin {
  display: block;
  width: clamp(10px, 1vw, 16px);
  height: clamp(10px, 1vw, 16px);
  background: var(--text-color);
  opacity: 0.2;
  border-radius: 50%;
  cursor: pointer;
}

span.index-poin.active {
  opacity: 0.8;
}

.testimonials-slider button {
  all: unset;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: auto 10px;
  background-size: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.testimonials-slider button.testimoni-next {
  grid-area: next;
  background: url(res/ic_round-navigate-next.svg) no-repeat center;
}

.testimonials-slider button.testimoni-prev {
  grid-area: prev;
  background: url(res/ic_round-navigate-pref.svg) no-repeat center;
}

/* Newsletter */

#newsletter .container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.newsletter-left {
  width: 50%;
}
.newsletter-left img {
  width: 100%;
  max-width: 677px;
}

.newsletter-right {
  width: 50%;
  line-height: 2;
}

.newsletter-right > span {
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.newsletter-right h3 {
  max-width: 400px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--text-color);
  padding: 20px 0;
}

.newsletter-right p {
  line-height: 28px;
}

.newsletter-right form {
  margin: 36px 0;
}
.newsletter-right label {
  display: none;
}
.newsletter-right input {
  margin-right: 12px;
  outline: none;
  padding: 19px 38px;
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
}

.newsletter-right input::placeholder {
  color: #18171d93;
}
